body {
  background-color: #137b85;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.search-box {
  margin-bottom: 30px;
}

.search-box-input {
  padding-left: 20px;
  height: 40px;
  width: 80%;
  margin: 0 auto;
}

.products-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-list li {
  display: flex;
  margin-bottom: 10px;
}

.products-list li div {
  min-width: 30px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 500px;
}

.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
